# Local configuration
config.properties

# docker-compose.yml
# Dockerfile
# .dockerignore

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
.env

# IDEs
.vscode/
.idea/

# Distribution / Packaging
build/
dist/
*.egg-info/

# Logs
*.log
